[Desktop Entry]
Name=mr00theme
X-KDE-PluginInfo-Author=mr00k3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=mr00theme
X-KDE-PluginInfo-Version=1.1
